@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
}

section {
    position: relative;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
    padding: 20px 40px 20px 40px ;
    box-sizing: border-box;
}

.h1_wrapp {
    display: flex;
    align-self: center;
}

.h1_wrapp img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.h1_wrapp h1 {
    font-family: "Anton", sans-serif;
    color: white;
    font-weight: 400;
}

.tr_wrapp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.tr {
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Anton", sans-serif;
}

.tr1 {
    width: 140px;
}
.tr2 {
    width: 160px;
}
.tr3 {
    width: 180px;
}
.tr4 {
    width: 200px;
}

.tr5 {
    width: 220px;
    border-bottom: 3px solid black;
}

.balance {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Anton", sans-serif;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5) ;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}

.balance span {
    color: #FFD700;
    font-weight: 400;
}

.footer_wrapp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.footer_wrapp h1 {
    text-align: center;
    margin-bottom: 10px;
}
